<h3>Users</h3>
<table *ngIf="authFlag" class="mdl-data-table mdl-js-data-table mdl-data-table--selectable mdl-shadow--2dp">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Id</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
      <tr *ngFor="let user of users"  >
          <td>{{user.id}}</td>
          <td>{{user.name}}</td>
          <td>{{user.email}}</td>
      </tr>
  </tbody>
</table>

<br />
<input auto-complete [(ngModel)]="user" display-property-name="name" value-property-name="id" [source]="users" />